:root {
  --purple-color: #6d28d9;
  --faint-purple: #ddd6fe;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

p {
  font-size: 1rem;
  color: white;
}

.label {
  font-size: 1.5rem;
  color: white;
}

.inputArea {
  padding: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 35%;
  background-color: #ddd6fe;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #6d28d9;
  min-height: 200px;
  width: 100%;
  max-width: 500px;

  margin: auto;
  padding: 2rem 1rem;
}

button {
  margin: auto;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 80px;
  background-color: #ddd6fe;
}

.errorMsg {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.5rem;
  color: white;
}

.returnChange {
  margin-top: 1.5rem;
}

table {
  border: 2px solid white;
  table-layout: fixed;
  color: white;
}

th {
  border: 2px solid white;
}

td {
  border: 2px solid white;
}

#output {
  text-align: center;
  padding-left: 5rem;
}
